K means Algorithm

In [5]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('Mall_Customers.csv')
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [18]:
df.base

AttributeError: 'DataFrame' object has no attribute 'base'

In [15]:
X=df[['Annual Income (k$)','Spending Score (1-100)','Age']].values
print(X)

[[ 15  39  19]
 [ 15  81  21]
 [ 16   6  20]
 [ 16  77  23]
 [ 17  40  31]
 [ 17  76  22]
 [ 18   6  35]
 [ 18  94  23]
 [ 19   3  64]
 [ 19  72  30]
 [ 19  14  67]
 [ 19  99  35]
 [ 20  15  58]
 [ 20  77  24]
 [ 20  13  37]
 [ 20  79  22]
 [ 21  35  35]
 [ 21  66  20]
 [ 23  29  52]
 [ 23  98  35]
 [ 24  35  35]
 [ 24  73  25]
 [ 25   5  46]
 [ 25  73  31]
 [ 28  14  54]
 [ 28  82  29]
 [ 28  32  45]
 [ 28  61  35]
 [ 29  31  40]
 [ 29  87  23]
 [ 30   4  60]
 [ 30  73  21]
 [ 33   4  53]
 [ 33  92  18]
 [ 33  14  49]
 [ 33  81  21]
 [ 34  17  42]
 [ 34  73  30]
 [ 37  26  36]
 [ 37  75  20]
 [ 38  35  65]
 [ 38  92  24]
 [ 39  36  48]
 [ 39  61  31]
 [ 39  28  49]
 [ 39  65  24]
 [ 40  55  50]
 [ 40  47  27]
 [ 40  42  29]
 [ 40  42  31]
 [ 42  52  49]
 [ 42  60  33]
 [ 43  54  31]
 [ 43  60  59]
 [ 43  45  50]
 [ 43  41  47]
 [ 44  50  51]
 [ 44  46  69]
 [ 46  51  27]
 [ 46  46  53]
 [ 46  56  70]
 [ 46  55  19]
 [ 47  52  67]
 [ 47  59  54]
 [ 48  51  63]
 [ 48  59  18]
 [ 48  50  43]
 [ 48  48  68]
 [ 48  59  19]
 [ 48  47  32]
 [ 49  55  70]
 [ 49  42  47]
 [ 50  49  60]
 [ 50  56  60]
 [ 54  47  59]
 [ 54  54  26]
 [ 54  53  45]
 [ 54  48  40]
 [ 54  52  23]
 [ 54  42  49]
 [ 54  51  57]
 [ 54  55  38]
 [ 54  41  67]
 [ 54  44  46]
 [ 54  57  21]
 [ 54  46  48]
 [ 57  58  55]
 [ 57  55  22]
 [ 58  60  34]
 [ 58  46  50]
 [ 59  55  68]
 [ 59  41  18]
 [ 60  49  48]
 [ 60  40  40]
 [ 60  42  32]
 [ 60  52  24]
 [ 60  47  47]
 [ 60  50  27]
 [ 61  42  48]
 [ 61  49  20]
 [ 62  41  23]
 [ 62  48  49]
 [ 62  59  67]
 [ 62  55  26]
 [ 62  56  49]
 [ 62  42  21]
 [ 63  50  66]
 [ 63  46  54]
 [ 63  43  68]
 [ 63  48  66]
 [ 63  52  65]
 [ 63  54  19]
 [ 64  42  38]
 [ 64  46  19]
 [ 65  48  18]
 [ 65  50  19]
 [ 65  43  63]
 [ 65  59  49]
 [ 67  43  51]
 [ 67  57  50]
 [ 67  56  27]
 [ 67  40  38]
 [ 69  58  40]
 [ 69  91  39]
 [ 70  29  23]
 [ 70  77  31]
 [ 71  35  43]
 [ 71  95  40]
 [ 71  11  59]
 [ 71  75  38]
 [ 71   9  47]
 [ 71  75  39]
 [ 72  34  25]
 [ 72  71  31]
 [ 73   5  20]
 [ 73  88  29]
 [ 73   7  44]
 [ 73  73  32]
 [ 74  10  19]
 [ 74  72  35]
 [ 75   5  57]
 [ 75  93  32]
 [ 76  40  28]
 [ 76  87  32]
 [ 77  12  25]
 [ 77  97  28]
 [ 77  36  48]
 [ 77  74  32]
 [ 78  22  34]
 [ 78  90  34]
 [ 78  17  43]
 [ 78  88  39]
 [ 78  20  44]
 [ 78  76  38]
 [ 78  16  47]
 [ 78  89  27]
 [ 78   1  37]
 [ 78  78  30]
 [ 78   1  34]
 [ 78  73  30]
 [ 79  35  56]
 [ 79  83  29]
 [ 81   5  19]
 [ 81  93  31]
 [ 85  26  50]
 [ 85  75  36]
 [ 86  20  42]
 [ 86  95  33]
 [ 87  27  36]
 [ 87  63  32]
 [ 87  13  40]
 [ 87  75  28]
 [ 87  10  36]
 [ 87  92  36]
 [ 88  13  52]
 [ 88  86  30]
 [ 88  15  58]
 [ 88  69  27]
 [ 93  14  59]
 [ 93  90  35]
 [ 97  32  37]
 [ 97  86  32]
 [ 98  15  46]
 [ 98  88  29]
 [ 99  39  41]
 [ 99  97  30]
 [101  24  54]
 [101  68  28]
 [103  17  41]
 [103  85  36]
 [103  23  34]
 [103  69  32]
 [113   8  33]
 [113  91  38]
 [120  16  47]
 [120  79  35]
 [126  28  45]
 [126  74  32]
 [137  18  32]
 [137  83  30]]